
.add-quote-layout
    width: 45%
    margin: 10px auto
    text-align: center
    padding: 15px
    background: white
    position: absolute
    top: 18%
    left: 28%
    z-index: 13
    box-shadow: 1px 1px 24px #abababdd
    border-radius: 17px
    display: none

    #book_name, #quote_text
        width: 80%
        padding: 7px
        border: 1px solid #ededed
        border-radius: 6px
        outline: none
        margin: 10px auto
        font-size: 16px
        box-shadow: 0px 0px 5px #f5f5f5cc
        font-family: 'Cairo', sans-serif
        transition: 0.3s

        &:hover
            border: 1px solid #daabab7a
        &:focus
            border: 1px dashed #8d8d8d
    
    .error-messages
        color: red

    .invalid-field
        border: 1px solid red !important
        
    #suggested-books-names
        display: none
        box-shadow: 2px 2px 18px #f7f7f7
        border-radius: 6px
        padding: 15px
        width: 80%
        margin: -5px auto

    #close-suggested-btn
        background: #565656
        border: 0px
        color: white
        font-size: 14px
        padding: 3px 12px

        &:hover
            cursor: pointer
            background: #6d6d6d


    .suggested-book-item
        padding: 6px
        border-bottom: 1px solid whitesmoke
        font-family: 'Cairo', sans-serif
        &:hover
            background: #f7f7f7
            cursor: pointer

    .quote_types_layout
        display: flex
        justify-content: center
        margin: 10px 0px

        #audio_quote_type,
        #text_quote_type
            display: none

        .quote_type_item
            padding: 5px 0px
            width: 120px
            &:hover,
            label
                cursor: pointer

        .active_quote_type_item
            background: #f7f7f7

    #quote_audio_layout
        display: none
        margin: 15px 0px
            
    .audio-btns-layout
        display: flex
        justify-content: center

    .audio-btn
        background: #f9f9f9
        border: 1px solid #dfdfdf
        cursor: pointer
        margin: 0px 3px

        &:hover
            background: #ededed

    #record-audio-btn,
    #resume-audio-btn,
    #delete-audio-btn
        color: #ed1515
        padding: 5px
        font-size: 12px
        border-radius: 18px

    #stop-audio-btn
        color: #767676
        padding: 4px
        border-radius: 3px
        display: none

    #pause-audio-btn
        color: #31a700
        padding: 4px
        border-radius: 3px
        display: none

    #resume-audio-btn,
    #delete-audio-btn
        display: none

    #audio-recording-timer
        display: flex
        justify-content: center
        align-items: center
        
        #seconds_timer
            font-size: 15px
            color: #727272

        .sound_waves 
            width: 50px
            margin: 0px 5px
            display: none

    #preview_audio_layout
        audio
            max-width: 100%

    .add-quote-btn
        width: 20%
        padding: 6px
        background: black
        color: white
        border: 1px solid #875a5a
        border-radius: 27px
        font-size: 17px

        &:hover
            cursor: pointer
            box-shadow: 0px 0px 4px #b9b9b9

    .close-btn-layout
        text-align: right

        .close-addQuoteLayout-btn
            background: #eb0000
            border: 0px solid transparent
            padding: 5px
            color: white
            width: 25px
            height: 25px
            border-radius: 6px
            font-size: 16px
            box-shadow: 1px 1px 5px #bdbdbd
            &:hover 
                cursor: pointer
                box-shadow: 1px 1px 7px #afafaf

.toggle-addNewQuote-layout-btn
    width: 50%
    margin: 40px auto 10px auto

    .toggle-addNewQuote-btn
        background: transparent
        font-size: 18px
        font-weight: 500
        padding: 5px 14px
        transition: 0.3s
        border: 1px dashed #875a5a3b
        box-shadow: 0px 0px 4px #d9d9d9
        transition: 0.3s

        &:hover
            box-shadow: 0px 0px 12px #d9d9d9
            cursor: pointer

@media (max-width: 768px) 
    .add-quote-layout
        width: 80%
        left: 5%
        .add-quote-btn
            width: 50%